*{
    box-sizing: border-box;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: top;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
html, body {
    scroll-behavior: smooth;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

.body{
    position: relative;
}

.hidden{
  position: absolute;
  width: 0;
  height: 0;
  z-index: -1;
}



.header{
    background: rgb(6, 0, 10);
    padding: 20px 0;
    top: 0;
    left: 0;
    right: 0;
    position: fixed;
    z-index: 2;
}

.container{
   width: 1200px;
   margin: 0 auto;   
}

.header-menu{
    background: #e85eea;
    display: flex;
    gap: 10px;
    border-radius: 15px;
    padding: 10px 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.header-menu li{
    position: relative;
    font-family: 'Fasthand';
    min-width: 170px;
}

.icon-nav{
  width: 18px;
  height: 18px;
  fill: #eae9f4;
  align-items: center;

 
} 


.header-menu li a{
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #fdfbfb;
    font-size: 20px;
    border: solid 2px black;
    background: hsl(294, 77%, 64%);
    border-radius: 10px;
    padding: 5px 25px;
    white-space: nowrap;
    text-align: center;
    min-width: 205px;
   
}

.header-menu li a:hover{
     background: #fb00ff;
     font-family: 'Caprasimo', cursive;
     font-size: 21px;
    
     
}

/animation/////////////////////////////////////////////////////

.button{
  position: relative;
 transition: 0.2s;
 display: inline-block;
 border-radius: 15px;

}

.button-line{
  position:absolute;
  display: block;
  
}

.button-line-top{
  top:0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg,transparent, #ffffff) ;
}

.button:hover .button-line-top{
  left: 100%;
  transition: 1s;
  transition-delay: 0.25s;
}

.button-line-bottom{
  bottom:0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg,transparent, #faf9fa) ;
}

.button:hover .button-line-bottom{
  right: 100%;
  transition: 1s;
  transition-delay: 0.25s;
}

.button-line-left{
  bottom:-100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(0deg,transparent, #ffffff) ;
}

.button:hover .button-line-left{
  bottom: 100%;
  transition: 1s;
  transition-delay: 0.25s;
}

.button-line-right{
  top:-100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg,transparent, #ffffff) ;
}

.button:hover .button-line-right{
  top: 100%;
  transition: 1s;
  transition-delay: 0.25s;
}

.button:hover{
  box-shadow: 0 0 10px #ffffff;
  transition-delay: 1s;
  color: #e85eea;
  background-color: #eae9f4;
  border-radius: 15px;
}



.logo{
    font-size: 20px;
    text-decoration: none;
    color: #fdfbfb;
    text-transform: uppercase;
    position: absolute;
    left: 100px;
    font-family: 'Noto Serif', serif;
    overflow: hidden;
    padding: 15px 20px;
}

.hw-menu{
    position: absolute;
    top: 100%;
    left: 0;
    display: none;
    font-family: 'Fasthand';
    
   

}

.hw-menu li a{
     background: #e85eea;
     transition: 0.5s linear;
}


.hw-menu li a:hover{
  background-color: black;
  min-width: 150px;
  
}

.header-menu li:hover .hw-menu{
 display: block;
}

.main-footer{
  height: 60px;
  background: #000000;
  align-items: center;
  justify-content: center;
  gap: 15px;
  display: flex;
}

.icon-media{
  width: 50px;
  height: 50px;
  fill: #eae9f4;  
  cursor: pointer;

}

main{
  flex: 1;
  padding: 104px;
}

.wrapper{
  display: flex;
  flex-flow: column;
  min-height: 100vh;
}

.block-menu{
    position: relative;
}
.flex-menu{
    position: absolute;
    top: 0;
    right: 100%;
    width: 100%;
    display: none;
}

.header-menu li.block-menu:hover .flex-menu {
    display: block;
  }


  .flex-container{
	max-width: 1000px;
	background: #f4f7f79a;
	border-radius: 15px;
	margin: 0 auto;
	padding: 10px;
}
.flex-body-bg{
	background: #5d97aa;
}

.flex-header-block{
	padding: 130px;
}

.flex-header{
	color: #eae9f4;
	width: fit-content;
	justify-content: center;
	font-size: 60px;
	background: #2a418785;
    border-radius: 15px;
	padding: 5px 20px;
	margin: 0 auto;
	text-align: center;
	border: 2px solid white;
}

.flex-side-menu {
	width: 90px;
	position: fixed;
	padding: 5px;
	border-radius: 5px;
	line-height: 20px;
	background: #5d97aa;
	font-size: 20px;
	border: 2px solid #fff;
	left: 5px;
	top: 50%; 
 
  margin: -95px 0 0; 
  }
  
  
  .flex-side-menu li {
	background: #2a418785;
	border-radius: 5px;
	padding: 10px;
	border: #fff solid 2px;
	text-align: center;
  }
  
  .flex-side-menu li a {
	color: #fff;
	text-decoration: none;
  }

.flex-image-container:hover .flex-image-caption {
  opacity: 1;
}

.flex-image-caption {
  opacity: 0;
  transition: opacity 0.3s ease;
}
.flex-img{
	width: 100%;
	border-radius: 15px;
	padding: 10px 0px 10px 0px;
}

.flex-image-container {
  position: relative;
  z-index: 1;
}

.flex-image-caption {
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: rgba(225, 235, 233, 0.7);
  color: #0d1b0e;
  padding: 20px;
  border-radius: 5px;
  transform: translate(-50%, -50%);
  line-height: 20px;
  text-align: justify;
  font-weight: 300;
  font-size: 20px;
  width: 90%;
}



.figma-body{
  font-size: 18px;
  color: #161616;
  background: #D8D8D6;
}

.figma-wrapper{
display: flex;
flex-direction: column;
min-height: 100%;
background: #D8D8D6;
}

.figma-header{
  background: #81A36B;
  padding: 20px 0px ;
  margin: 104px 0;

}

.figma-container{
max-width: 1110px;
margin: 0 auto;
padding: 0 5px;
}

.figma-header a{
text-decoration: none;
color: #161616;
line-height: 30 px;

}

.figma-header-container{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.figma-header-logo{
font-size: 36px;
}

.figma-header-list{
  display: flex;
  justify-content: space-between;
  width: 800px;
}

.figma-block-1{
  display: flex;
  flex-direction: row;
  margin: 0 165px;
  align-items: center;
}
.figma-title {
  font-size: 62px;
  padding-bottom: 60px;
}

.figma-block-1-text{
  text-align: justify;
  padding: 0px 20px 0px 0px;
  line-height: 164%;
}

.figma-img{
  width: 540px;
  height: 670px;
}

.figma-block-1-button{
  display: flex;
  gap: 30px;
  margin: 40px 0px 0px 0px;
}

.figma-button{
  width: 190px;
  height: 60px;
  border: 1px solid #81A36B;
  color: #161616;
  background: #D8D8D6;
  cursor: pointer;
  margin-right: 20px;
}



.figma-button:hover {
background-color: #81A36B;
opacity: 1;
transform: translateY(0);
}

.figma-about-us{
  display: flex;
  width: 540px;
  height: 330px;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 0 auto;
}

.figma-about-us h2{
  text-transform: uppercase;
  text-align: center;
  font-size: 32px;
  margin-bottom: 60px;
}

.figma-about-us p{
  line-height: 164%;
  text-align: center;
}
.figma-block-2{
  height: 282px;
  background: #81A36B;
  display: flex;
  flex-direction: row;
  align-items:center;
  justify-content: space-evenly;
  padding-left: 40px;
  padding-right: 40px;
}
.figma-img-block{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.figma-block-3{
  display: flex;
  flex-direction: row;
  margin: 140px 165px;
  align-items: center;
}
.figma-img-vase{
  width: 539px;
  height: 560px;
}
.figma-title-2{
  font-size: 32px;
  text-align: center;
}
.figma-block-2-text{
  text-align: justify;
  padding: 0px 20px 0px 0px;
  line-height: 164%;
  padding: 60px 0px 0px 20px;
  width: 540px;
}

.figma-card{
  background: #81A36B;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 350px;
  height: 510px;
 /padding: 10px 0px 0px 0px;
}

.figma-cards{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.figma-card-caption{
text-align: center;
padding-bottom: 40px;
}
.figma-title-3{
  font-size: 32px;
  text-align: center;
  margin-bottom: 80px;
}

.figma-footer{
  height: 390px;
  background: #81A36B;
  margin-top: 80px;
}

.figma-img-icons{
  width: 113.542px;
  height: 24px;
}

.figma-footer{
  max-height: 390px;
}
.figma-footer-data{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  height: 300px;
  padding-top: 60px;
}

.figma-footer-data li{
  padding: 20px;
}

.figma-footer-logo{
  font-size: 36px;
}

.figma-footer-date{
  text-align: center;
}
.figma-img-icon{
  width: 113.542px;
  height: 24px;
}

.figma-footer-contacts li:first-child{
  font-size: 24px;
}

.figma-icons li:first-child{
  font-size: 24px;
}

.figma-icons{
  display: flex;
  flex-direction: column;
  align-items: center;
}



.project-main_page {
  margin: 104px 0px;
  width: 1200px;
  background-color: rgb(255, 255, 255);
}

.project-block h2, .project-block h3 {
  text-align: center;
  font-size: 35px;
  margin-top: 15px;
  text-transform: uppercase;  
  padding: 30px 40px;
}
.project-block_header {
  text-align: left;
  font-weight: 600;
  font-size: 30 px;
  margin-bottom: 10px;
  margin: 0 0 20px 30px;
}

.project-block_text {
  text-indent: 10px;
  line-height: 20px;
  text-align: justify;
  font-size: 18px;
}

.project-img {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
}

.project-link_2, .project-link_1 {
  font-size: 18px;
  color: black;
}
.project-button-block, a{
  color: white;
}

.project-header-block {
  background: rgb(20, 20, 110);
  color: white;
  padding: 20px 0;
}

.project-header-block a{
  text-decoration: none;
}

.project-logo {
width: 100px;
}

.project-header-list{
  width: 1000px;
  font-size: 0;
  text-align: center;
}

.project-header-list li{
  display: inline-block;
  font-size: 20px;
  margin-left: 20px;
}

.project-header-list li + li{
  margin-left: 20px;
}


.project-button-block{
  width: 100px;
  cursor: pointer;
  background: transparent;
  border: none;
  color: white;
}

.project-header-list, .project-button-block, .project-logo{
  display: inline-block;
  font-size: 20px;
  vertical-align: middle ;

}

.project-header-block .project-header{
  font-size: 0;
}
///////////////////////////////////////


.project-box-top {
  background: rgba(193, 247, 255, 0.669);
}

.project-box-top > div {
  outline: 2px solid;
  width: 400px;
  display: inline-block;
  font-size: 18px;
  height: 400px;
}


.fz-20{
  font-size: 20px;
}

.w-400{
  width: 400px;
}

.w-800{
  width: 800px;
}

.h-100{
  height: 100px;
}

.h-133{
  height: 133.33px;
}
.h-200{
  height: 200px;
}

.h-400{
  height: 400px;
}

.outline{
  outline: 1px solid;
  outline-color: rgb(252, 252, 252);
}

.project-bg{
  background: rgba(92, 160, 238, 0.723);
}

.project-box-center {
  font-size: 0;
  background: rgba(242, 242, 149, 0.776);

}
.project-box-center > div + div{
  width: 400px;
} 

.project-box{
  width: 1200px;
  margin: 0 auto;
}

.project-bg-yellow {
  background: rgb(238, 171, 78);
}

.project-bg-green{
  background: rgba(134, 217, 122, 0.772);
}

.text-formate{
  text-align: justify;
  color: rgb(0, 0, 0);
  line-height: 1.5;
  text-indent: 15px;
  overflow-y: hidden;
  padding: 5px 5px 5px 5px;
}
.project-img-box {
 margin: 0 auto;
}
.project-link-box{
  color: rgb(58, 197, 197);
}

.float-left{
  float: left;
}

.float-right{
  float: right;
}

.clr{
  clear: both;
}

